* {
  box-sizing: border-box;
}

#head {
  background-image: url(./img-4/banner.jpg);
  max-width: 1500px;
  height: 800px;
}

#head .head_h {
  color: white;
  padding-top: 300px;
  text-align: center;
}

.white {
  font-size: 50px;
}

#head .head_h p {
  margin-bottom: 25px;
}

#head .head_h img {
  margin-top: 150px;
}

hr {
  width: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#main .introduction {
  height: 500px;
  text-align: center;
  padding-top: 150px;
}

.black {
  font-size: 50px;
}

#main .introduction p {
  margin-top: 25px;
  font-size: 20px;
}

#main .pure {
  background-image: url(./img-4/lepy.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.button_white {
  padding: 25px 100px 25px 100px;
  border: solid 2px white;
  border-radius: 3px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.some {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.some .balck {
  font-size: 30px;
  text-align: center;
}

.some_nav {
  display: inline-flex;
  margin: 20px;
}

.some_nav li {
  margin: 25px;
}

.img_nav {
  margin-bottom: 80px;
}

.some .img_nav .icon {
  margin: 10px;
}

.button_black {
  padding: 20px 80px 20px 80px;
  border: solid 2px black;
  border-radius: 3px;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#main .help {
  background-image: url(./img-4/helo.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.our {
  background-color: whitesmoke;
  height: 500px;
}

.our .black {
  text-align: center;
  padding-top: 100px;
}

.our_img {
  text-align: center;
}

.our_icon {
  margin: 25px;
}

.about {
  text-align: center;
  padding-top: 100px;
}

.about p {
  font-size: 20px;
}

.about_us {
  display: inline-flex;
  padding-top: 50px;
  margin: 25px;
}

.about_us li {
  margin: 15px;
}

.apply {
  border: solid 2px black;
  text-align: center;
  width: 270px;
  height: 360px;
}

.apply h2 {
  padding-top: 30px;
}

.apply p {
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
}

.apply hr {
  width: 100px;
  border: solid 2px black;
  margin-top: 50px;
  margin-bottom: 70px;
}

.apply .button_black {
  margin-top: 50px;
  border: solid 2px black;
  border-radius: 3px;
  color: black;
}

.youtube {
  background-image: url(./img-4/video.jpg);
  height: 500px;
  display: block;
}

.youtube>.load {
  display: flex;
  margin: 0 auto;
  padding-top: 175px;
}